[submodule "submodules/gulp-scss-lint_mod"]
	path = submodules/gulp-scss-lint_mod
	url = https://github.com/SkySai1/gulp-scss-lint_mod.git
[submodule "submodules/es5-ext_mod"]
	path = submodules/es5-ext_mod
	url = https://github.com/SkySai1/es5-ext_mod.git
